{% extends 'base.html' %}

{% block content %}

    <h3>Write the name of the crop you want to see their soil requirements</h3>

    <br/>

    <div>
  <form>
      <label for="user-input" > </label>
    <input type="text" id="user-input" name="user-input" style="width: 20%;">
      <br/>
      <br/>
    <button class="btn btn-outline-light" type="submit">Submit crop</button>
  </form>
  <div  id="output-area" style="border: 1px solid black; padding: 18px; background-color: white;">
    Results will be displayed here.
  </div>
</div>

<script>
  const form = document.querySelector('form');
  const userInput = document.getElementById('user-input');
  const outputArea = document.getElementById('output-area');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const inputText = userInput.value;
    // perform some operation using the input
    const outputText = ` ${inputText.toString()} requires a soil with these properties...`;
    outputArea.textContent = outputText;

    userInput.value = '';
  });
</script>





{% endblock %}