{% block content %}
<footer class="footer mt-auto py-3 bg-success ">
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <div class="col-md-3">
            
            <ul class="nav flex-column text-light">
              <li class="nav-item">
                <a class="nav-link" href="#">acasa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">laborator de analize</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">consuliatii</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">servicee medicale</a>
            </li>
           
            </ul>
        </div>
        <div class="col-md-3">
            
            <ul class="nav flex-column ">
              <li class="nav-item">
                <a class="nav-link color-light" href="#">acasa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">laborator de analize</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">consuliatii</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">servicee medicale</a>
            </li>
           
            </ul>
        </div>
        <div class="col-md-3">
            
            <ul class="nav flex-column text-light">
              <li class="nav-item">
                <a class="nav-link" href="#">acasa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">laborator de analize</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">consuliatii</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">servicee medicale</a>
            </li>
           
            </ul>
        </div>
        <div class="col-md-3 ">
           
          <ul class="nav flex-column text-light">
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-phone"></i>+255689-095599
                +255689-055345
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" text-secondary href="#"><i class="fas fa-map-marker-alt"></i>
                Location Str. Makumbusho Mbuyuni 1056</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="fas fa-envelope"></i> crs@gmail.com</a>
          </li>
         
          </ul>
          
        </div>
      </div>
    </div>
    

    <div class="justify-content-center">
    <p>&copy; 2023 Crop  Recommendation System CRS</p>
    </div>
  </footer>
  {% endblock content %}