{% extends 'base.html' %}

{% load static %}

{% load bootstrap4 %}



{% block content %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
              margin: 0;
              padding: 0;
            }
            .bg-image {
              background-image: url("{% static 'crops.webp' %}");
              height: 100vh;
              background-position: center;
              background-size: cover;
              position: relative;
                padding: 0;
                margin-top: -24px;
            }
            .my-text-center{
                text-align:left;

                z-index: 2;

            }
            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 45%;
                height: 100%;
                background-color: rgba(48, 152, 48, 0.8);
                z-index: 1;
              }
          </style>

    </head>
    <body>


    <!-- Background image -->
    <div class="bg-image container-fluid " >
        <div class="overlay"></div>
        <div class="container d-flex align-items-center  h-100 mx-auto "  >
          <div class="my-text-center text-white">
            <h1>IMPROVING AGRICULTURE</h1>
            <p ">Our system is designed  to help farmers make informed decions
            about which </br>crops to plant on variety of factors,including soil type,and climatic conditions
            </br>.using advanced algorithms and daata analysis,we provide personalized</br>
             recomendetions that can help optimize crop yields and maximize profits. <br/></p>
              <button type="button" class="btn btn-danger btn-lg "
       onclick="window.location.href={% url 'services' %}">Services</button>
          </div>

        </div>
      </div>

        <script src="js/bootstrap.min.js"></script>


{% endblock %}
