{% extends 'base.html' %}

{% block content %}



    <h1>Improving</h1>
    <h1>Agriculture</h1>

    <br/>

    <h5>Our system is designed to help farmers make informed decisions</h5>
    <h5> about which crops to plant based on a variety of factors, including </h5>
    <h5> soil type, and climate conditions. Using advanced algorithms and </h5>
    <h5>data analysis, we provide personalized recommendations that can</h5>
    <h5>help optimize crop yields and maximize profits.</h5>


{% endblock %}
