{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container " id="bg" style="background-image": url('{% static "images/123.jpg" %}');  >
  {% comment %} <div class="jumbotron"> {% endcomment %}
    <h1 class="display-4">Improving Agriculture</h1>
    <p class="lead">Our system is designed to help farmers make informed decisions about which crops to plant based on a variety of factors, including soil type, and climate conditions.
       Using advanced algorithms and data analysis, we provide personalized recommendations that can help optimize crop yields and maximize profits.</p>
       <button type="button" class="btn btn-danger btn-lg "
       onclick="window.location.href={% url 'services' %}">Services</button>
       <br/><br/><br/><br/><br/><br/>
      
    {% comment %} </div> {% endcomment %}

</div>

{% endblock %}
