<div class="container bg-success  "  >
    {% include 'navbar.html' %}      
<div class="d-flex flex-row justify-content-center pb-4">
<div class="bg-light p-3 mx-3 col-md-5 justify-content-center ">
    <h2 type="button" class="btn btn-success">CROP RECOMMENDATION</h2>
   
    <ul class="nav flex-column">
    <li class="nav flex-column">
            <label for="range-input">Amount of Nitrogen</label>
     <input type="range" name="range-input" id="range-input" min="0" max="100" step="1">
    <span id="range-value"></span>
    </li>
    <li class="nav flex-column">
            <label for="range-input">Amount of Phosphorus</label>
     <input type="range" name="range-input" id="range-input" min="0" max="100" step="1">
    <span id="range-value"></span>
    </li>
    
    <li class="nav flex-column">
            <label for="range-input">Amount of Potassium</label>
     <input type="range" name="range-input" id="range-input" min="0" max="100" step="1">
    <span id="range-value"></span>
    </li>
    <li class="nav flex-column">
            <label for="range-input">Temperature</label>
     <input type="range" name="range-input" id="range-input" min="0" max="100" step="1">
    <span id="range-value"></span>
    </li>
    <li class="nav flex-column">
            <label for="range-input">PH</label>
     <input type="range" name="range-input" id="range-input" min="0" max="14" step="0.1">
    <span id="range-value"></span>
    </li>
    <li class="nav flex-column">
            <label for="range-input">Amount of Rainfall</label>
     <input type="range" name="range-input" id="range-input" min="0" max="2000" step="1">
    <span id="range-value"></span>
    </li>
    </ul>

    <button type="button" class="btn btn-secondary">Recommend</button>
</div>
<script>
    var rangeInput = document.getElementById("range-input");
    var rangeValue = document.getElementById("range-value");

    rangeInput.addEventListener("input", function() {
        rangeValue.textContent = rangeInput.value;
    });
</script>


<div class="bg-light p-3 mx-3 justify-content-end col-md-5 justify-content-center ">
    <h2 type="button" class="btn btn-success">RESULTS</h2>
   
          <div class="media">
<img src="img_avatar1.png" class="align-self-center mr-3" style="width:60px">
<div class="media-body">
<h5>Tomatoes</h5>
<h4>Compatibility</h4>
<p>More nformation</p>
</div>
</div>
<div class="media">
<img src="img_avatar1.png" class="align-self-center mr-3" style="width:60px">
<div class="media-body">
<h5>Apples</h5>
<h4>Compatibility</h4>
<p>More nformation</p>
</div>
</div>
<div class="media">
<img src="img_avatar1.png" class="align-self-center mr-3" style="width:60px">
<div class="media-body">
<h5>Bananas</h5>
<h4>Compatibility</h4>
<p>More nformation</p>
</div>
</div>
</div>
</div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>